<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Entertainment</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.etc.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.etc.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryServlet</display-name>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>com.etc.servlet.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/CategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Entertainmentshow</display-name>
    <servlet-name>Entertainmentshow</servlet-name>
    <servlet-class>com.etc.servlet.Entertainmentshow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entertainmentshow</servlet-name>
    <url-pattern>/Entertainmentshow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EntertainmentType</display-name>
    <servlet-name>EntertainmentType</servlet-name>
    <servlet-class>com.etc.servlet.EntertainmentType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EntertainmentType</servlet-name>
    <url-pattern>/EntertainmentType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EntertainmentNews</display-name>
    <servlet-name>EntertainmentNews</servlet-name>
    <servlet-class>com.etc.servlet.EntertainmentNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EntertainmentNews</servlet-name>
    <url-pattern>/EntertainmentNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Itemcontentshow</display-name>
    <servlet-name>Itemcontentshow</servlet-name>
    <servlet-class>com.etc.servlet.Itemcontentshow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Itemcontentshow</servlet-name>
    <url-pattern>/Itemcontentshow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Updatelike</display-name>
    <servlet-name>Updatelike</servlet-name>
    <servlet-class>com.etc.servlet.Updatelike</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Updatelike</servlet-name>
    <url-pattern>/Updatelike</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCount</display-name>
    <servlet-name>UpdateCount</servlet-name>
    <servlet-class>com.etc.servlet.UpdateCount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCount</servlet-name>
    <url-pattern>/UpdateCount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Entertainmentsearch</display-name>
    <servlet-name>Entertainmentsearch</servlet-name>
    <servlet-class>com.etc.servlet.Entertainmentsearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entertainmentsearch</servlet-name>
    <url-pattern>/Entertainmentsearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Enterlabelsearch</display-name>
    <servlet-name>Enterlabelsearch</servlet-name>
    <servlet-class>com.etc.servlet.Enterlabelsearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Enterlabelsearch</servlet-name>
    <url-pattern>/Enterlabelsearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleListServlet</display-name>
    <servlet-name>ArticleListServlet</servlet-name>
    <servlet-class>com.etc.servlet.ArticleListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleListServlet</servlet-name>
    <url-pattern>/ArticleListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleWriteServlet</display-name>
    <servlet-name>ArticleWriteServlet</servlet-name>
    <servlet-class>com.etc.servlet.ArticleWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleWriteServlet</servlet-name>
    <url-pattern>/ArticleWriteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleDeleteServlet</display-name>
    <servlet-name>ArticleDeleteServlet</servlet-name>
    <servlet-class>com.etc.servlet.ArticleDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleDeleteServlet</servlet-name>
    <url-pattern>/ArticleDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleIndexServlet</display-name>
    <servlet-name>ArticleIndexServlet</servlet-name>
    <servlet-class>com.etc.servlet.ArticleIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleIndexServlet</servlet-name>
    <url-pattern>/ArticleIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleCommentListServlet</display-name>
    <servlet-name>ArticleCommentListServlet</servlet-name>
    <servlet-class>com.etc.servlet.ArticleCommentListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleCommentListServlet</servlet-name>
    <url-pattern>/ArticleCommentListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleCommentWriteServlet</display-name>
    <servlet-name>ArticleCommentWriteServlet</servlet-name>
    <servlet-class>com.etc.servlet.ArticleCommentWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleCommentWriteServlet</servlet-name>
    <url-pattern>/ArticleCommentWriteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateArticleServlet</display-name>
    <servlet-name>UpdateArticleServlet</servlet-name>
    <servlet-class>com.etc.servlet.UpdateArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateArticleServlet</servlet-name>
    <url-pattern>/UpdateArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserIndexServlet</display-name>
    <servlet-name>UserIndexServlet</servlet-name>
    <servlet-class>com.etc.servlet.UserIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserIndexServlet</servlet-name>
    <url-pattern>/UserIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserArticleServlet</display-name>
    <servlet-name>UserArticleServlet</servlet-name>
    <servlet-class>com.etc.servlet.UserArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserArticleServlet</servlet-name>
    <url-pattern>/UserArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleTopicServlet</display-name>
    <servlet-name>ArticleTopicServlet</servlet-name>
    <servlet-class>com.etc.servlet.ArticleTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleTopicServlet</servlet-name>
    <url-pattern>/ArticleTopicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleCollectServlet</display-name>
    <servlet-name>ArticleCollectServlet</servlet-name>
    <servlet-class>com.etc.servlet.ArticleCollectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleCollectServlet</servlet-name>
    <url-pattern>/ArticleCollectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFriendServlet</display-name>
    <servlet-name>AddFriendServlet</servlet-name>
    <servlet-class>com.etc.servlet.AddFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFriendServlet</servlet-name>
    <url-pattern>/AddFriendServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindFriendsServlet</display-name>
    <servlet-name>FindFriendsServlet</servlet-name>
    <servlet-class>com.etc.servlet.FindFriendsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindFriendsServlet</servlet-name>
    <url-pattern>/FindFriendsServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>EntertainmentServlet</display-name>
    <servlet-name>EntertainmentServlet</servlet-name>
    <servlet-class>com.etc.servlet.EntertainmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EntertainmentServlet</servlet-name>
    <url-pattern>/EntertainmentServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>ArticleCollectionServlet</display-name>
    <servlet-name>ArticleCollectionServlet</servlet-name>
    <servlet-class>com.etc.servlet.ArticleCollectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleCollectionServlet</servlet-name>
    <url-pattern>/ArticleCollectionServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>Entertainmentlabelsearch</display-name>
    <servlet-name>Entertainmentlabelsearch</servlet-name>
    <servlet-class>com.etc.servlet.Entertainmentlabelsearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entertainmentlabelsearch</servlet-name>
    <url-pattern>/Entertainmentlabelsearch</url-pattern>
  </servlet-mapping>
     <servlet>
    <description></description>
    <display-name>UserRecommendServlet</display-name>
    <servlet-name>UserRecommendServlet</servlet-name>
    <servlet-class>com.etc.servlet.UserRecommendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRecommendServlet</servlet-name>
    <url-pattern>/UserRecommendServlet</url-pattern>
  </servlet-mapping>
     <servlet>
    <description></description>
    <display-name>UserLabelServlet</display-name>
    <servlet-name>UserLabelServlet</servlet-name>
    <servlet-class>com.etc.servlet.UserLabelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLabelServlet</servlet-name>
    <url-pattern>/UserLabelServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>ChatServlet</display-name>
    <servlet-name>ChatServlet</servlet-name>
    <servlet-class>com.etc.servlet.ChatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatServlet</servlet-name>
    <url-pattern>/ChatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChatRecordServlet</display-name>
    <servlet-name>ChatRecordServlet</servlet-name>
    <servlet-class>com.etc.servlet.ChatRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatRecordServlet</servlet-name>
    <url-pattern>/ChatRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChatListServlet</display-name>
    <servlet-name>ChatListServlet</servlet-name>
    <servlet-class>com.etc.servlet.ChatListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatListServlet</servlet-name>
    <url-pattern>/ChatListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChatAdd</display-name>
    <servlet-name>ChatAdd</servlet-name>
    <servlet-class>com.etc.servlet.ChatAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatAdd</servlet-name>
    <url-pattern>/ChatAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChatDelete</display-name>
    <servlet-name>ChatDelete</servlet-name>
    <servlet-class>com.etc.servlet.ChatDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatDelete</servlet-name>
    <url-pattern>/ChatDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChatAddServlet</display-name>
    <servlet-name>ChatAddServlet</servlet-name>
    <servlet-class>com.etc.servlet.ChatAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatAddServlet</servlet-name>
    <url-pattern>/ChatAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChatDeleteServlet</display-name>
    <servlet-name>ChatDeleteServlet</servlet-name>
    <servlet-class>com.etc.servlet.ChatDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatDeleteServlet</servlet-name>
    <url-pattern>/ChatDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FriendsListServlet</display-name>
    <servlet-name>FriendsListServlet</servlet-name>
    <servlet-class>com.etc.servlet.FriendsListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendsListServlet</servlet-name>
    <url-pattern>/FriendsListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChatDeleteAllServlet</display-name>
    <servlet-name>ChatDeleteAllServlet</servlet-name>
    <servlet-class>com.etc.servlet.ChatDeleteAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatDeleteAllServlet</servlet-name>
    <url-pattern>/ChatDeleteAllServlet</url-pattern>
  </servlet-mapping>
     <servlet>
    <description></description>
    <display-name>MyArticleCollectionServlet</display-name>
    <servlet-name>MyArticleCollectionServlet</servlet-name>
    <servlet-class>com.etc.servlet.MyArticleCollectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyArticleCollectionServlet</servlet-name>
    <url-pattern>/MyArticleCollectionServlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>ChangeUserInfoServlet</display-name>
    <servlet-name>ChangeUserInfoServlet</servlet-name>
    <servlet-class>com.etc.servlet.ChangeUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeUserInfoServlet</servlet-name>
    <url-pattern>/ChangeUserInfoServlet</url-pattern>
  </servlet-mapping>
</web-app>